#files to ignore
.metadata/
*/.classpath
*/.project
*/.settings/
*/bin/
*.swp
*.DS_STORE
*.DS_Store

# Course username and password
*ml_login_data.mat

# Unnecessary artifacts
MachineLearning/coursera-201403/__MACOSX/
